.news {
  display: grid;
  grid-template-columns: 220px 1fr;
  height: 100%;
  padding-block: 20px;

  >main {
    overflow-y: auto;
    padding-inline-end: 20px;
  }

  .news-list {

    .article-preview {
      background-color: #36363b;
      border-radius: 16px;
      margin-bottom: 20px;
      overflow: hidden;

      .img-container {
        min-width: 160px;
        align-self: center;
      }

      .content-container {
        padding: 20px 20px;
      }

      .title {
        font-size: 24px;
        font-weight: 600;
        transition: color .2s ease-out;
        margin-bottom: 16px;
      }

      .content {
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 16px;
        color: #9fa4ad;
      }

      &:hover .title {
        color: #807dff;
      }
    }

    .article-skeleton-loader {

      .img-container {
        min-height: 200px;
      }

      .content-container {
        width: 100%;

        .title {
          min-height: 32px;
          max-width: 220px;
        }

        .content {
          min-height: 16px;
          margin-bottom: 6px;

          &:nth-child(2) {
            max-width: 90%;
          }

          &:nth-child(3) {
            max-width: 95%;
          }

          &:last-child {
            max-width: 85%;
          }
        }

        @for $i from 1 through 5 {

          .content:nth-child(#{$i}) {
            animation-delay: -0.1s * (5 - $i);
          }
        }
      }
    }
  }

  .article-details {
    background-color: #36363b;
    border-radius: 16px;
    overflow: hidden;

    .img-container {
      margin-bottom: 20px;
    }

    .content-container {
      gap: 10px;
      padding-inline: 10px;
      padding-bottom: 20px;

      .content {
        margin-inline-start: 6px;
        color: #9fa4ad;
      }
    }
  }

  .article-skeleton-loader {

    .img-container {
      min-height: 205px;
    }

    .content-container {
      width: 100%;

      .title {
        min-height: 32px;
        max-width: 220px;
        margin-bottom: 6px;
      }

      .content {
        min-height: 16px;
        margin-bottom: 6px;

        &:nth-child(2) {
          max-width: 90%;
        }

        &:nth-child(3) {
          max-width: 95%;
        }

        &:last-child {
          max-width: 85%;
        }
      }

      @for $i from 1 through 5 {

        .content:nth-child(#{$i}) {
          animation-delay: -0.1s * (5 - $i);
        }
      }
    }
  }

  .side-bar {
    height: 100%;
    width: calc(100% - 40px);
    margin-inline: auto;
    background-color: #36363b;
    border-radius: 16px;
    padding: 16px 12px;
    gap: 20px;
    font-size: 18px;
    font-weight: 600;

    .img-container {
      width: 60px;
      height: 60px;
      display: grid;
      place-items: center;
    }

    .nav {
      flex: 1;
      width: 100%;
    }

    .links {
      gap: 4px;

      .nav-link {
        padding: 8px 12px;
        gap: 12px;
        transition: background-color .4s ease-out;
        border-radius: 8px;

        .svg-icon-container {
          transition: color .2s ease-out
        }

        &:hover {
          .svg-icon-container {
            color: #807dff;
          }
        }

        &.active {
          background-color: #4a5464;

          .svg-icon-container {
            color: #807dff;
          }
        }
      }
    }
  }

  .animated-background {
    animation-duration: 1.3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: listPlaceHolderShimmer;
    animation-timing-function: linear;
    background-color: #f6f7f8;
    background: linear-gradient(to right, #9fa4ad 8%, #bbbbbb 18%, #9fa4ad 33%);
    background-size: 800px 104px;
    position: relative;
  }

  @keyframes listPlaceHolderShimmer {
    0% {
      background-position: -300px 0
    }

    100% {
      background-position: 600px 0
    }
  }
}