.contacts {
  display: grid;
  grid-template-columns: 220px 1fr;
  height: 100%;
  padding-block: 20px;

  >main {
    overflow-y: auto;
    padding-inline-end: 20px;
  }

  .contact-list {
    gap: 20px;

    .contact-preview {
      background-color: #36363b;
      border-radius: 16px;
      padding: 10px 20px;
      gap: 20px;

      .img-container {
        width: 50px;
      }

      .name {
        font-size: 24px;
        font-weight: 600;
        transition: color .2s ease-out;
      }

      .number {
        font-size: 14px;
        color: #9fa4ad;
      }

      &:hover .name {
        color: #807dff;
      }
    }

  }

  .side-bar {
    height: 100%;
    width: calc(100% - 40px);
    margin-inline: auto;
    background-color: #36363b;
    border-radius: 16px;
    padding: 16px 12px;
    gap: 20px;
    font-size: 18px;
    font-weight: 600;

    .img-container {
      width: 60px;
      height: 60px;
      display: grid;
      place-items: center;
    }

    .nav {
      flex: 1;
      width: 100%;
    }

    .links {
      gap: 4px;

      .nav-link {
        padding: 8px 12px;
        gap: 12px;
        transition: background-color .4s ease-out;
        border-radius: 8px;

        .svg-icon-container {
          transition: color .2s ease-out
        }

        &:hover {
          .svg-icon-container {
            color: #807dff;
          }
        }

        &.active {
          background-color: #4a5464;

          .svg-icon-container {
            color: #807dff;
          }
        }
      }
    }
  }

  .total-stat {
    background-color: #36363b;
    width: fit-content;
    border-radius: 16px;
    gap: 20px;
    padding-block: 20px;
    padding-inline: 20px 40px;

    .svg-icon-container {
      padding: 20px;
      border-radius: 50%;
    }

    .content {
      .value {
        color: #d9dde2;
      }

      .title {
        font-weight: 600;
        color: #9fa4ad;
      }
    }
  }
}