.error-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;

	>* {
		margin-bottom: 10px;
	}

	.home-link {
		color: #6fb4ff;
		text-decoration: underline;
	}

}