.app-header {
	padding: 0 40px;
	border-bottom: 1px solid #2c2e33;

	.dash-edit-btns {
		gap: 10px;
	}

	.btn {
		transition: color .4s ease-out;
	}

	.btn-animation {
		animation: breathing 1.6s ease-out infinite;
	}
}

@keyframes breathing {
	0% {}

	50% {
		color: #00a8e2;
	}

	100% {}
}